<mui-container>
  <h1>MUI Grid Component</h1>
  <mui-panel>
    <mui-row>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
      <mui-col md=1>md-1</mui-col>
    </mui-row>
    <mui-row>
      <mui-col md=8>md-8</mui-col>
      <mui-col md=4>md-4</mui-col>
    </mui-row>
    <mui-row>
      <mui-col md=4>md-4</mui-col>
      <mui-col md=4>md-4</mui-col>
      <mui-col md=4>md-4</mui-col>
    </mui-row>
    <mui-row>
      <mui-col md=6>md-6</mui-col>
      <mui-col md=6>md-6</mui-col>
    </mui-row>
  </mui-panel>

  <mui-panel>
    <mui-row>
      <mui-col md=4 >md-4</mui-col>
      <mui-col md=4 md-offset=4>md-4 md-offset-4</mui-col>
    </mui-row>
    <mui-row>
      <mui-col md=3 md-offset=3>md-3 md-offset-3</mui-col>
      <mui-col md=3 md-offset=3>md-3 md-offset-3</mui-col>
    </mui-row>
    <mui-row>
      <mui-col md=6 md-offset=3>md-6 md-offset-3</mui-col>
    </mui-row>
  </mui-panel>
</mui-container>
